.app-body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.admin-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
}

.admin-title {
    columns: var(--secondary-color);
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5rem;
}

.admin-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
}

.form-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: none;
    height: 100px;
    font-size: 1rem;
}


.create-button {
    padding: 10px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
}

.create-button:hover {
    background-color: var(--border-color);
}


@media (max-width: 600px) {
    .admin-container {
        padding: 15px;
    }

    .admin-title {
        font-size: 1.25rem;
    }

    .form-label,
    .create-button {
        font-size: 0.875rem;
    }

    .form-textarea {
        font-size: 0.875rem;
    }

   
}
